In [40]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans
%matplotlib inline

In [41]:
# Load the file for analysis and view columns

df = pd.read_csv('/Users/lacivert/4/usYld.csv')

dfyields = pd.DataFrame(df)

list(dfyields.columns.values)

['Date',
 '1 mo',
 '3 mo',
 '6 mo',
 '1 yr',
 '2 yr',
 '3 yr',
 '5 yr',
 '7 yr',
 '10 yr',
 '20 yr',
 '30 yr']

In [42]:
# Setting up my variables

one_month, three_month, six_month, one_year = df.loc[:,'1 mo'], df.loc[:,'3 mo'], df.loc[:,'6 mo'], df.loc[:,'1 yr']

two_year, three_year, five_year, seven_year = df.loc[:,'2 yr'], df.loc[:,'3 yr'], df.loc[:,'5 yr'], df.loc[:,'7 yr']

ten_year, twenty_year, thirty_year = df.loc[:,'10 yr'], df.loc[:,'20 yr'], df.loc[:,'30 yr']

In [50]:
dfyields.replace(['N/A', 'NA'], ' ')

,Date,1 mo,3 mo,6 mo,1 yr,2 yr,3 yr,5 yr,7 yr,10 yr,20 yr,30 yr
0,1/2/90,NaN,7.83,7.89,7.81,7.87,7.90,7.87,7.98,7.94,NaN,8.00
1,1/3/90,NaN,7.89,7.94,7.85,7.94,7.96,7.92,8.04,7.99,NaN,8.04
2,1/4/90,NaN,7.84,7.90,7.82,7.92,7.93,7.91,8.02,7.98,NaN,8.04
3,1/5/90,NaN,7.79,7.85,7.79,7.90,7.94,7.92,8.03,7.99,NaN,8.06
4,1/8/90,NaN,7.79,7.88,7.81,7.90,7.95,7.92,8.05,8.02,NaN,8.09
5,1/9/90,NaN,7.80,7.82,7.78,7.91,7.94,7.92,8.05,8.02,NaN,8.10
6,1/10/90,NaN,7.75,7.78,7.77,7.91,7.95,7.92,8.00,8.03,NaN,8.11
7,1/11/90,NaN,7.80,7.80,7.77,7.91,7.95,7.94,8.01,8.04,NaN,8.11
8,1/12/90,NaN,7.74,7.81,7.76,7.93,7.98,7.99,8.07,8.10,NaN,8.17
9,1/16/90,NaN,7.89,7.99,7.92,8.10,8.13,8.11,8.18,8.20,NaN,8.25
10,1/17/90,NaN,7.97,7.97,7.91,8.09,8.11,8.11,8.17,8.19,NaN,8.25
11,1/18/90,NaN,8.04,8.08,8.05,8.25,8.28,8.27,8.31,8.32,NaN,8.35
12,1/19/90,NaN,8.00,8.01,8.00,8.20,8.23,8.20,8.24,8.26,NaN,8.29
13,1/22/90,NaN,7.99,7.99,7.98,8.18,8.20,8.19,8.25,8.27,NaN,8.31
14,1/23/90,NaN,7.93,7.97,7.97,8.18,8.20,8.18,8.23,8.26,NaN,8.29
15,1/24/90,NaN,7.93,7.99,8.00,8.20,8.29,8.28,8.34,8.38,NaN,8.41
16,1/25/90,NaN,7.95,8.01,8.03,8.24,8.32,8.31,8.39,8.42,NaN,8.46
17,1/26/90,NaN,7.93,8.04,8.07,8.28,8.38,8.38,8.45,8.49,NaN,8.55
18,1/29/90,NaN,8.00,8.09,8.08,8.30,8.39,8.39,8.45,8.50,NaN,8.54
19,1/30/90,NaN,8.00,8.14,8.09,8.30,8.39,8.43,8.47,8.51,NaN,8.55
20,1/31/90,NaN,8.00,8.13,8.08,8.28,8.36,8.35,8.39,8.43,NaN,8.46
21,2/1/90,NaN,8.02,8.13,8.09,8.28,8.35,8.35,8.38,8.42,NaN,8.44
22,2/2/90,NaN,8.07,8.17,8.13,8.37,8.43,8.42,8.46,8.50,NaN,8.51
23,2/5/90,NaN,8.08,8.18,8.15,8.37,8.43,8.44,8.48,8.53,NaN,8.53
24,2/6/90,NaN,8.09,8.17,8.15,8.42,8.43,8.49,8.52,8.57,NaN,8.58
25,2/7/90,NaN,8.08,8.19,8.17,8.42,8.43,8.51,8.53,8.52,NaN,8.57
26,2/8/90,NaN,8.08,8.18,8.13,8.37,8.39,8.45,8.48,8.49,NaN,8.50
27,2/9/90,NaN,8.02,8.09,8.03,8.25,8.24,8.29,8.34,8.31,NaN,8.36
28,2/12/90,NaN,7.99,8.11,8.06,8.32,8.32,8.37,8.41,8.40,NaN,8.43
29,2/13/90,NaN,7.84,7.97,7.95,8.21,8.21,8.29,8.36,8.35,NaN,8.39
...,...,...,...,...,...,...,...,...,...,...,...,...
7146,7/23/18,1.88,1.99,2.19,2.42,2.64,2.72,2.83,2.92,2.96,3.04,3.10
7147,7/24/18,1.92,2.02,2.19,2.42,2.63,2.74,2.83,2.91,2.95,3.02,3.08
7148,7/25/18,1.90,2.01,2.20,2.42,2.66,2.74,2.82,2.90,2.94,3.00,3.06
7149,7/26/18,1.89,1.99,2.19,2.41,2.69,2.78,2.86,2.95,2.98,3.05,3.10
7150,7/27/18,1.90,2.00,2.20,2.43,2.67,2.76,2.84,2.92,2.96,3.03,3.09
7151,7/30/18,1.91,2.04,2.21,2.43,2.66,2.77,2.85,2.94,2.98,3.05,3.11
7152,7/31/18,1.94,2.03,2.21,2.44,2.67,2.77,2.85,2.92,2.96,3.03,3.08
7153,8/1/18,1.93,2.03,2.22,2.45,2.67,2.78,2.87,2.96,3.00,3.07,3.13
7154,8/2/18,1.89,2.02,2.22,2.45,2.66,2.76,2.85,2.93,2.98,3.06,3.12
7155,8/3/18,1.90,2.01,2.23,2.43,2.63,2.74,2.82,2.91,2.95,3.03,3.09
7156,8/6/18,1.92,2.05,2.23,2.44,2.64,2.73,2.80,2.89,2.94,3.02,3.08
7157,8/7/18,1.96,2.06,2.23,2.45,2.68,2.76,2.84,2.92,2.98,3.06,3.12
7158,8/8/18,1.93,2.06,2.24,2.44,2.68,2.77,2.83,2.92,2.96,3.05,3.12
7159,8/9/18,1.91,2.06,2.25,2.44,2.64,2.74,2.80,2.89,2.93,3.01,3.08
7160,8/10/18,1.92,2.05,2.23,2.42,2.61,2.68,2.75,2.82,2.87,2.96,3.03
7161,8/13/18,1.93,2.06,2.22,2.42,2.61,2.68,2.75,2.82,2.88,2.97,3.05
7162,8/14/18,1.96,2.08,2.25,2.44,2.63,2.71,2.77,2.84,2.89,2.98,3.06
7163,8/15/18,1.96,2.07,2.23,2.45,2.61,2.68,2.73,2.81,2.86,2.95,3.03
7164,8/16/18,1.96,2.07,2.24,2.45,2.63,2.70,2.75,2.82,2.87,2.95,3.03
7165,8/17/18,1.95,2.05,2.24,2.44,2.61,2.68,2.75,2.82,2.87,2.95,3.03
7166,8/20/18,1.93,2.06,2.25,2.43,2.60,2.65,2.70,2.77,2.82,2.91,2.99
7167,8/21/18,1.94,2.08,2.25,2.45,2.61,2.67,2.73,2.80,2.85,2.93,3.00
7168,8/22/18,1.95,2.09,2.24,2.43,2.60,2.65,2.70,2.77,2.82,2.91,2.99
7169,8/23/18,1.94,2.08,2.23,2.43,2.61,2.66,2.72,2.78,2.82,2.90,2.97
7170,8/24/18,1.95,2.09,2.25,2.44,2.63,2.68,2.72,2.78,2.82,2.89,2.97
7171,8/27/18,1.96,2.12,2.25,2.47,2.67,2.70,2.74,2.81,2.85,2.92,3.00
7172,8/28/18,1.96,2.13,2.28,2.47,2.67,2.73,2.77,2.84,2.88,2.96,3.03
7173,8/29/18,1.97,2.13,2.28,2.48,2.67,2.75,2.78,2.85,2.89,2.96,3.02
7174,8/30/18,1.97,2.11,2.28,2.47,2.64,2.72,2.75,2.82,2.86,2.93,3.00
7175,8/31/18,1.95,2.11,2.28,2.46,2.62,2.70,2.74,2.81,2.86,2.95,3.02